:root {
  --primary-color: #294264;
  --secondary-color: #F9E8B3;
  --text-color: #294264;
  --background-color: #FFFFFF;
  --hover-secondary: #e6d39c;
}

/* Estilização geral */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url(../assets/bgfdo2.png);
  background-repeat: no-repeat;
  background-position-y:bottom;
  color: var(--text-color);
  overflow-x: hidden; /* Evitar barras de rolagem horizontais */
}

/* Barra de navegação */
nav {
  background-color: var(--primary-color);
  color: #e6d39c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav a {
  color: #e6d39c;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1em;
  transition: text-decoration 0.3s ease;
}

nav a:hover {
  text-decoration: underline;
}

nav .button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

nav .button:hover {
  background-color: var(--hover-secondary);
}

  /* -------------------MAIN------------------------- */


.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding: 50px;
    border-radius: 30px;
    margin: 20px auto;
    max-width: 800px;
    
}

.hero h2, h3 {    
    font-size: 28px;
    color: #486284;   
    text-align: center;
}

.hero p {
    color: var(--main-blue);
    text-align: center;
}



