* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --main-bg: #ffffff;
    --main-yellow: #fcbd61;
    --main-blue: #486284;
  }
  
  /* -------------------HEADER----------------------- */
  #topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-blue);
    height: 5vh;
    padding: 2% 6%;
  }
  
  .options li,
  a {
    color: var(--main-yellow);
    list-style: none;
    white-space: nowrap;
    text-decoration: none;
  }
  
  .options {
    display: flex;
    gap: 2em;
    align-items: center;
  }
  
  #button {
    color: #486284;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: var(--main-yellow);
  
    border: solid;
    border-color: var(--main-blue);
    border-radius: 22px;
  }
  /* -------------------HEADER----------------------- */
  
  /* -------------------FOOTER----------------------- */
  
  footer {
    display: flex;
    background-color: var(--main-blue);
    justify-content: space-between;
    height: 22vh;
    width: auto;
    padding: 1% 6%;
  }
  footer div {
    color: var(--main-yellow);
  }
  
  .start {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .start div { 
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    margin-top: 1em ;
  }
  
  .mid {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  
  .end {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .end .top {
    display: flex;
    flex-direction: row;
    gap: 5em;
    white-space: nowrap;
  }
  
  .end .top div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  
  #social_icon { 
    fill: aqua;
  }
  
  .end .bottom {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  
  .end div {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    gap: 10%;
  }
  /* -------------------FOOTER----------------------- */

  /* -------------------MAIN------------------------- */


.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/bgfdo.png);
  background-repeat:repeat-y;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding: 50px;
    border-radius: 30px;
    margin: 20px auto;
    max-width: 800px;
    
}

.hero h2, h3 {    
    font-size: 28px;
    color: #486284;   
    text-align: center;
}

.hero p {
    color: var(--main-blue);
    text-align: center;
}

section {
  
}


