* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --main-bg: #ffffff;
    --main-yellow: #fcbd61;
    --main-blue: #486284;
  }

  /* -------------------HEADER----------------------- */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-blue);
    height: 5vh;
    padding: 2% 6%;
  }
  
  ul {
    display: flex;
    align-items: center;
    color: var(--main-yellow);
    list-style: none;
    white-space: nowrap;
    gap: 2rem;
    cursor: pointer;
  }
  
  .options {
    display: flex;
    gap: 2em;
    align-items: center;
  }
  
  #button {
    color: #486284;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: var(--main-yellow);
    text-decoration: none;
    border: solid;
    border-color: var(--main-blue);
    border-radius: 22px;
    cursor: pointer;
  }


  /* -------------------HEADER----------------------- */

  /* -------------------MAIN----------------------- */
    .conteudo {
      background-color: var(--main-bg);
      background-image: url(../assets/abstract1-hotel.png);
      background-repeat: no-repeat;
      background-position:top right;
      display: flex;
      flex-direction: column;
      justify-content: center;

    }
    .info{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 2rem 2rem;
      margin-left:1rem;
      margin-right: 5rem;
    }
    .info img{
      width: 50rem;
      border-radius: 5%;
    }
    .paragrafo-info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding: 10%;
      color: var(--main-blue);
    }
    .paragrafo-info h1{
      padding: 1.2rem;
    }
    .equipe{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      padding: 8%;
      color: var(--main-blue);
    }
    .paragrafo-equipe{
      display: flex;
      flex-direction:column ;
      padding: 3%;
      
    }
    .coluna-equipe{
      display: flex;
      justify-content:space-around;
      background-color: var(--main-bg);
      background-image: url(../assets/Auto\ Layout\ Horizontal-hotel.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-size: cover;
      
      
    }
    .img-julia{
      margin: 6rem 4rem;
      
    }    
    .img-athos{
      margin: 6rem 4rem;
      
    }    
    .img-bruna{
      margin: 6rem 4rem;
      
    }   
     .img-paulo{
      margin: 6rem 4rem;
      
    }   
     .img-carlos{
      margin: 6rem 4rem;
      
    }    
    .serviços{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding: 10%;
      color: var(--main-blue);
    }
    .titulo-serviços{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: var(--main-blue);
    }
    .info-serviços{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: rgba(163, 168, 166, 0.5);
      border: solid rgba(161, 168, 165,15);
      border-radius: 3vh; 
      padding-top: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
      gap: 30px;
    }
    .paragrafo-serviços{
      display: flex;
      flex-direction: column;
    }
    
    #hotel-img{
      border-radius: 25px;
    }
    #day-care-img{
      border-radius: 25px;
    }
    #banho-tosa-img{
      border-radius: 25px;
    }
     








  /* -------------------Main----------------------- */
  
  /* -------------------FOOTER----------------------- */

footer {
    display: flex;
    background-color: var(--main-blue);
    justify-content: space-between;
    height: 22vh;
    width: auto;
    padding: 1% 6%;
    list-style: none;
  }
  footer div {
    color: var(--main-yellow);
  }
  
  .start {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .start div { 
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    margin-top: 1em ;
  }
  
  .mid {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  
  .end {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .end .top {
    display: flex;
    flex-direction: row;
    gap: 5em;
    white-space: nowrap;
  }
  
  .end .top div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  
  #social_icon { 
    fill: aqua;
  }
  
  .end .bottom {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  
  .end div {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    gap: 10%;
    cursor: pointer;
  }
  /* -------------------FOOTER----------------------- */