:root {
  --primary-color: #294264;
  --secondary-color: #F9E8B3;
  --text-color: #294264;
  --background-color: #FFFFFF;
  --hover-secondary: #e6d39c;
}

/* Estilização geral */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url(../assets/bgfdo.png);
  background-repeat: no-repeat;
  color: var(--text-color);
  overflow-x: hidden; /* Evitar barras de rolagem horizontais */
}

/* Barra de navegação */
nav {
  background-color: var(--primary-color);
  color: #e6d39c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav a {
  color: #e6d39c;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1em;
  transition: text-decoration 0.3s ease;
}

nav a:hover {
  text-decoration: underline;
}

nav .button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

nav .button:hover {
  background-color: var(--hover-secondary);
}

  /* -------------------MAIN------------------------- */
  .termos {
    display: flex;  
    align-items: center;
    justify-content: center;
    padding: 10%;
  }    
 
  .descricao{
   color: #486284;
  }

  .info {
    color: #486284;
  }

  .info h2 {
    font-size: 36px;
  }
 
  
  