* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: #ffffff;
  --main-yellow: #fcbd61;
  --main-blue: #486284;
}

/* -------------------HEADER----------------------- */
#topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-blue);
  height: 5vh;
  padding: 2% 6%;
}

.options li,
a {
  color: var(--main-yellow);
  list-style: none;
  white-space: nowrap;
  text-decoration: none;
}

.options {
  display: flex;
  gap: 2em;
  align-items: center;
}

#button {
  color: #486284;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: var(--main-yellow);

  border: solid;
  border-color: var(--main-blue);
  border-radius: 22px;
}
/* -------------------HEADER----------------------- */

/* -------------------FOOTER----------------------- */

footer {
  display: flex;
  background-color: var(--main-blue);
  justify-content: space-between;
  height: 22vh;
  width: auto;
  padding: 1% 6%;
}
footer div {
  color: var(--main-yellow);
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.start div { 
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  margin-top: 1em ;
}

.mid {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.end .top {
  display: flex;
  flex-direction: row;
  gap: 5em;
  white-space: nowrap;
}

.end .top div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#social_icon { 
  fill: aqua;
}

.end .bottom {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.end div {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  gap: 10%;
}
/* -------------------FOOTER----------------------- */


/* -------------------MAIN----------------------- */

.hero_section{ 
  background-color: var(--main-bg);
  background-image: url(../assets/BG-services.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.content_hero{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5% 5%;
}

.content_hero .info { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 4%;
  color: var(--main-blue);
}

.content_hero .info h1 { 
margin-top: auto;
margin-bottom: auto;
}

.services_list{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(163, 168, 166, 0.5);
  border: solid rgba(161, 168, 165,15);
  border-radius: 3vh;
  margin: 0 30% 2% 30%;
  height: 30vh;
}

.services_list ol li { 
  display: flex;
  color: var(--main-blue);
  margin: 1em 2em;
  align-items: center;
  text-align: center;
}

ol  {
  counter-reset: section;  
  list-style: none;
  width: 50%;

}

.hero_section p {
  color: var(--main-blue);
  text-align: center;
  margin-top: -2%;

}


.services_list ol li:before {
  content: counter(section);
  counter-increment: section;
  display: flex;
  width: 3vh;
  height: 3vh;
  margin: 0 1em 0 0;
  border: solid var(--main-blue);
  border-radius: 100%;
  text-align: left;
  justify-content: center;
} 

.text { 
  flex-grow: 1;
}

.todos_servicos { 
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--main-yellow);
  margin: 2% auto;
  border: solid var(--main-yellow);
  border-width: 3vh;
  border-radius: 33px;
  color: var(--main-blue);
}